body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bus-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .bus-list li {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .bus-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bus-details {
    flex: 1; /* Bus details takes up 2 units of available space */
  }

  .bus-details small {
    font-size: 1rem; /* Adjust as needed */
    color: gray; /* Optional for visual distinction */

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent wrapping to multiple lines */
  }
  
  .arrival-times {
    flex: 1; /* Arrival times takes up 1 unit of available space */
    text-align: right; /* Aligns text to the right within the column */

}

.minsUntilArrival {
    font-size: 0.8em; /* Reduce font size */
    font-weight: lighter; /* Make font lighter */
    opacity: 0.7; /* Adjust opacity for less contrast */
    color: gray; /* Optional: Change color to gray */
}
  
  h2 {
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  /* Add media queries for mobile responsiveness */
  @media only screen and (max-width: 768px) {
    /* Adapt layout for smaller screens */
  }